.addUserContainer {
  padding: 20px;
  transform: translateY(-100%);
  animation: reveal 0.9s ease forwards;
}
@keyframes reveal {
  to {
    transform: translateY(0);
  }
}
.infoSettings .name button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 7px 10px;
  border-radius: 100px;
  background: #e8f0ff;
  border: none;
  font-weight: 400;
}
.infoSettings input {
  outline: none;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  width: 100%;
  padding: 7px 15px;
}
.infoSettings .name {
  justify-content: space-between;
}
.infoSettings .name div {
  display: flex;
  gap: 15px;
}
.lawBtn {
  position: relative;
}
.infoSettings {
  padding: 0;
}
.frame {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #4084c1;
}
.names {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addUserHeader {
  background: var(--active-color);
  padding: 8px 15px;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infoSettingsBorder {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 0;
}
.infoSettings .infoSettingsContent {
  padding-bottom: 15px;
}
.infoSettingsBorder .infoSettingsContent {
  padding: 15px;
}
.addUserContainer:has(.infoSettingsBorder) {
  padding: 0;
}
.addUserContainer:has(.infoSettingsBorder) {
  margin-top: 20px;
}
