.thirdPartContainer .heading {
  background-color: #e8f0ff !important;
  color: #4698f0 !important;
}
.noItem {
  color: #d2d1d2;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: auto;
  padding: 20px;
  width: 340px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
