:root {
  --main-color: #4698f0;
  --active-color: #e8f0ff;
  --btn-secondary-color: #627384;
  --max-size-color: #ff0000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s ease;
}
.active {
  background-color: var(--active-color);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #a5d0ff;
}
.scrollbar::-webkit-scrollbar-track {
  background: #f2f2f2;
}
button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
@keyframes down {
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
