:root {
  --main-color: #4698f0;
  --active-color: #e8f0ff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.active {
  background-color: var(--active-color);
}
