.settingsContainer {
  
}
.btn {
  border-bottom: 1px solid #f1f1f1;
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 400;
  padding: 20px;
}
.settingsBtnWrapper {
  background: #fff;
  position: relative;
  z-index: 1;
}